<div class="carousel-container">
    <div class="text-section">
      <h2>Y un día</h2>
      <p>Apostamos al amor.</p>
    <br>
    <p>Queremos invitarte especialmente a nuestra hermosa boda organizada con mucho cariño y amor 
        juntos festejaremos un momento de unión verdadera donde
        lo damos todo
        Esperamos que puedas venir y compartir un momento de fiesta, encuentro y mucha diversión también junto a todos nuestros seres queridos y amados 
        </p> 
    </div>
  
    <div class="carousel-section">
      <img [src]="images[currentIndex]" alt="Recuerdo de amor" />
    </div>
  </div>
  