<header class="header">
    <div class="logo">
      <a href="#" (click)="navigateTo('landing-page')">
        <img src="/assets/icon/freepik__love_wedding.ico" alt="Logo del Casamiento">
      </a>
    </div>
  
    <div class="hamburger-menu" (click)="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  
    <nav class="nav-links" [class.active]="isMenuOpen">
      <a href="#" (click)="navigateTo('home')">Inicio</a>
      <a href="#" (click)="navigateTo('palabras')">Y un día...</a>
      <a href="#" (click)="navigateTo('lugar')">¿Dónde y Cuándo?</a>
      <a href="#" (click)="navigateTo('rsvp-pag')">MI TARJETA</a>
    </nav>
  </header>
  