<header class="header">
    <div class="logo">
      <a href="#home" (click)="closeMenu()">
        <img src="/assets/icon/freepik__love_wedding.ico" alt="Logo del Casamiento">
      </a>
    </div>
  
    <div class="hamburger-menu" (click)="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  
    <nav class="nav-links" [class.active]="isMenuOpen">
      <a href="#home" (click)="closeMenu()">Inicio</a>
      <a href="#palabras" (click)="closeMenu()">Y un día...</a>
      <a href="#lugar" (click)="closeMenu()">¿Dónde y Cuándo?</a>
      <a href="#rsvp-pag" (click)="closeMenu()">MI TARJETA</a>
    </nav>
  </header>
  