<div>
  <!-- HERO / HOME -->
  <section class="home-section" id="home">
    <div class="hero-image">
      <img
        src="assets/fondo/1.png"
        alt="15 de Male - Invitación"
      />
    </div>

    <div class="hero-content">
      <div class="divider"></div>
      
      <app-countdown></app-countdown>
      
      <button class="btn-save-date" (click)="saveTheDate()">
        AGENDAR EN CALENDARIO
      </button>
    </div>
    <img src="assets/fondo/2m.png" alt="informativa">
  </section>

  <!-- LUGAR -->
  <section class="section-box lugar-section" id="lugar">
    <h2>¿DÓNDE SERÁ?</h2>
    <app-map></app-map>
    <p>
      Dean Funes 3750 – Habrá estacionamiento disponible en la entrada del lugar.
    </p>
  </section>

  <!-- RSVP -->
  <section class="section-box rsvp-section" id="rsvp-pag">
    <app-form></app-form>
  </section>

  <!-- REGALO -->
  <section class="section-box regalo-section" id="regalo">
    <h2>Ya sos parte de este evento tan especial para mí 💕</h2>

    <p>
      Tu presencia es el mejor regalo 🎁.  
      Si además querés colaborar con dinero, lo voy a agradecer muchísimo.
    </p>

    <h3>Detalles importantes</h3>

    <ul>
      <li><strong>Alias Prex: 30473551.PRE</strong></li>
      <li>Titular: Noelia Carletto</li>
      <li>Cuenta Prex: 20219127</li>
      <li>CVU: 0000013000032202191277</li>
    </ul>

    <p><strong>¡GRACIAS! 💖</strong></p>
  </section>
</div>
