@font-face {
  font-family: 'Bellefair-Regular';
  src: url('/assets/fonts/Bellefair-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans-Regular';
  src: url('/assets/fonts/WorkSans-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'WorkSans-Bold';
  src: url('/assets/fonts/WorkSans-Bold.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  color: #333;
}

//----------------------
// ESTILOS GENERALES
//----------------------

h1 {
  font-family: 'Bellefair-Regular';
  font-size: 4rem;
  color: #76876E;
  font-weight: 600;
  text-shadow: 4px 4px 3px rgb(179, 75, 18);
}

h2 {
  font-family: 'WorkSans-Regular';
  font-size: 2.5rem;
  color: #52717a;
  font-weight: 600;
}

section {
  padding: 3rem 2rem;
  text-align: center;
}

.divider {
  height: 1px;
  background: linear-gradient(to right, #decbb7, #c1b1a0);
  margin: 1rem 0;
}

//----------------------
// HOME SECTION
//----------------------

.home-section {
  background: url("/assets/fondo/fondofondo1.png");
  background-color: #FFF9F4;
  background-size: cover;
  background-position: center;
  z-index: -2;

  .landing-title {
    margin-top: 50px;
    z-index: 1;

    h1 {
      padding-top: 3rem;
      font-size: 4rem;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      z-index: 3;
    }

    h2 {
      font-family: 'WorkSans-Regular';
      font-size: 1.2rem;
      color: #52717a;
      margin-top: 10px;
      font-weight: 400;
    }
  }

  .btn-save-date {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #7e4a35;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(209, 124, 82, 0.4);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.2);
      transition: all 0.5s ease;
    }

    &:hover {
      background-color: #C35722;
      transform: scale(1.05);
      box-shadow: 0 8px 20px rgba(209, 124, 82, 0.6);

      &::after {
        left: 100%;
      }
    }
  }

  app-countdown {
    margin-top: 20px;
    color: #d17c52;
  }
}

.section-box {
  background-color: #fff9f4;
  border-radius: 8px;
  box-shadow: none;
  padding: 2rem;
}

.palabras-section h2,
.lugar-section h2 {
  font-family: 'Bellefair-Regular';
  color: #52717a;
  font-size: 2rem;
  font-weight: 800;
}

.lugar-section p {
  color: #52717a;
  font-size: 1.1rem;
  margin-top: 1rem;
}

.rsvp-section {
  background-color: #ffffff;
  padding: 0rem 2rem;
  border-radius: 8px;
  overflow: visible;
}

.dresscode-section {
  background-color: #f6f6f6;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: none;
  font-family: 'WorkSans-Regular';
  color:#7e4a35;;


  .h2 {
  font-family: 'Bellefair-Regular';
  font-size: 2.5rem;
  color: #52717a;
  font-weight: 600;
  }

  .dresscodeimg {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 1rem;
    border-radius: 8px;
  } 
}
.regalo-section {
  background-color: #fff9f4;
  border-radius: 8px;
  padding: 2rem;
  text-align: center;
  color: #52717a;

  h2 {
    font-family: 'Bellefair-Regular';
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #52717a;
  }

  p {
    font-family: 'WorkSans-Regular';
    font-size: 1.1rem;
    margin-bottom: 2rem;
    line-height: 1.6;
  }

  h3 {
    font-family: 'WorkSans-Bold';
    font-size: 1.3rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: #7e4a35;
  }

  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: 'WorkSans-Regular';

    a {
      color: #d17c52;
      font-size: 1.1rem;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: #c35722;
      }
    }
  }

  .mp-link {
    margin-top: 2rem;
    display: inline-block;
    background-color: #009ee3;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;

    &:hover {
      background-color: #007bb5;
    }
  }
}

app-form {
  display: block;
  min-height: 100%;
}

app-carousel,
app-map {
  margin-top: 40px;
  padding-bottom: 3rem;
}


.codigo-acceso,
.codigo-error {
  text-align: center;
  padding: 2rem;
  font-family: 'Bellefair', serif;
  color: #333;

  input {
    padding: 0.5rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    border-radius: 8px;
    border: 1px solid #ccc;
  }

  button {
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .home-section {
    padding: 2rem 1rem;
    min-height: 100vh;
    background-position: center top;
    padding-top: 4rem;

    .btn-save-date {
      padding: 10px 20px;
      font-size: 1rem;
    }
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  section {
    padding: 2rem 1rem;
  }

  app-countdown,
  app-carousel,
  app-map,
  app-form {
    margin-top: 30px;
    height: auto;
  }
}
